.fondoDepantalla {
  background-image: url("../../../assets/environments/imagenes/container1.jpg");
 
}
.delete-container {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  padding: 20px;
  margin: auto;  
  width: 60%;  
  max-width: 400px;  
  text-align: center;  
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(237, 232, 232);
}

.delete-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color:#f8f9fa ;
}

.delete-container p {
  margin-bottom: 15px;
  background-color: rgb(16, 9, 0);
  border-radius: 60px;
  color:#f8f9fa ;

}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c82333;
}
