.container {
  margin-top: 20px;
}

.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s ease;  
}

.list-group-item:hover {
  background-color: #92021da8;  
}

.list-group-item.active {
  background-color: #aa4040;  
}

.text-center {
  margin-top: 20px;
}

.btn-danger {
  margin-top: 10px;
  background-color: #dc3545;  
  border-color: #dc3545;  
}

.btn-danger:hover {
  background-color: #c82333; 
  border-color: #c82333;  
}

.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); /* Sombra al enfocar el botón */
}
