<form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="codigo" class="form-label">Código:</label>
    <input id="codigo" formControlName="codigo" type="text" class="form-control" required>
    <div *ngIf="productoForm.get('codigo')?.invalid && productoForm.get('codigo')?.touched" class="text-danger">
      Código es requerido.
    </div>
  </div>

  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripción:</label>
    <input id="descripcion" formControlName="descripcion" type="text" class="form-control" required>
    <div *ngIf="productoForm.get('descripcion')?.invalid && productoForm.get('descripcion')?.touched" class="text-danger">
      Descripción es requerida.
    </div>
  </div>

  <div class="mb-3">
    <label for="precio" class="form-label">Precio:</label>
    <input id="precio" formControlName="precio" type="number" class="form-control" required>
    <div *ngIf="productoForm.get('precio')?.invalid && productoForm.get('precio')?.touched" class="text-danger">
      Precio es requerido y debe ser un valor positivo.
    </div>
  </div>

  <div class="mb-3">
    <label for="stock" class="form-label">Stock:</label>
    <input id="stock" formControlName="stock" type="number" class="form-control" required>
    <div *ngIf="productoForm.get('stock')?.invalid && productoForm.get('stock')?.touched" class="text-danger">
      Stock es requerido y debe ser un valor positivo.
    </div>
  </div>

  <div class="mb-3">
    <label for="paisOrigen" class="form-label">País de Origen:</label>
    <input id="paisOrigen" formControlName="paisOrigen" type="text" class="form-control" readonly required>
    <div *ngIf="productoForm.get('paisOrigen')?.invalid && productoForm.get('paisOrigen')?.touched" class="text-danger">
      País de origen es requerido.
    </div>
  </div>

  <div class="mb-3">
    <label for="comestible" class="form-label">Comestible:</label>
    <select id="comestible" formControlName="comestible" class="form-control" required>
      <option [value]="true">Sí</option>
      <option [value]="false">No</option>
    </select>
    <div *ngIf="productoForm.get('comestible')?.invalid && productoForm.get('comestible')?.touched" class="text-danger">
      Este campo es requerido.
    </div>
  </div>

  <app-seleccionpais (paisSeleccionado)="onPaisSeleccionado($event)"></app-seleccionpais>
  <button type="submit" class="btn btn-primary" [disabled]="productoForm.invalid">Agregar Producto</button>
  <div *ngIf="mensajeError" class="text-danger">{{ mensajeError }}</div>
</form>
