/* Container padding and margin */
.container {
    padding: 15px;
  }
  
  /* Header styles */
  h2 {
    color: #333;
    font-weight: bold;
    text-align: center;
  }
  
  /* List group item styles */
  .list-group-item {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .list-group-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    cursor: pointer;
  }
  
  /* Flexbox alignment for list items */
  .d-flex {
    display: flex;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  /* Header inside list group item */
  h5 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  /* Badge styles */
  .badge {
    font-size: 0.9rem;
    padding: 10px;
  }
  
  .bg-primary {
    background-color: #007bff;
  }
  
  .rounded-pill {
    border-radius: 50rem;
  }
  
  /* Small text styles */
  .text-muted {
    color: #6c757d !important;
  }
  
  /* Margin and padding utilities */
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem !important;
  }
  .flecha-abajo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
  }

  .botonVolver{
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  .inputBarraBuscarProductos{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;


    
  }