<div>
  <button routerLink="/home" class="btn btn-primary botonVolver">Volver</button>
</div>
<div>
  <h1>Gestión de Contenedores</h1>
  <app-crear-container (containerCreated)="onContainerCreated($event)"></app-crear-container>
  <app-listar-containers (containerSelected)="onContainerSelected($event)"></app-listar-containers>
  <app-modificar-container *ngIf="selectedContainerForEdit" [container]="selectedContainerForEdit" (containerUpdated)="onContainerUpdated($event)"></app-modificar-container>
  <app-eliminarcontenedor *ngIf="selectedContainerForDelete" [codigo]="selectedContainerForDelete.codigo" (containerDeleted)="onContainerDeleted($event)"></app-eliminarcontenedor>
</div>
