.list-group-item {
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave al cambiar el color de fondo */
  }
  
  .list-group-item:hover {
    background-color: #f8f9fa; /* Cambio de color de fondo al pasar el mouse */
  }
  
  .btn-primary {
    background-color: #007bff; /* Color de fondo del botón principal */
    border-color: #007bff; /* Color del borde del botón principal */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Cambio de color de fondo al pasar el mouse */
    border-color: #0056b3; /* Cambio de color del borde al pasar el mouse */
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Sombra al enfocar el botón */
  }
  
  .btn-primary.btn-sm {
    font-size: 0.875rem; /* Tamaño de fuente más pequeño para el botón pequeño */
  }
  
  .btn-primary.btn-lg {
    padding: 1rem 2rem; /* Aumentar el relleno para el botón grande */
  }
  