<div>
  <h2 class="titulo">Crear Contenedor</h2>
  <form (ngSubmit)="createContainer()">
    <label>Código: <input [(ngModel)]="codigo" name="codigo" required></label>
    <label>Color: <input [(ngModel)]="color" name="color" required></label>
    <label>Empresa: <input [(ngModel)]="empresa" name="empresa" required></label>
    <label>Capacidad: <input [(ngModel)]="capacidad" name="capacidad" type="number" required></label>
    <label>Descripción: <input [(ngModel)]="descripcion" name="descripcion" required></label>
    <button type="submit">Crear</button>
  </form>
</div>
