<button routerLink="/login" class="btn btn-primary">Volver</button>
<div class="container">
  <div class="card p-4" style="background-color:rgba(251, 147, 3, 0.3);">
    <h2 class="mb-4">Registrarse</h2>
    <form [formGroup]="form" (ngSubmit)="registrar()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" formControlName="nombre">
        <div *ngIf="form.get('nombre').touched && form.get('nombre').invalid" class="text-danger">
          <div *ngIf="form.get('nombre').errors['required']">El nombre es requerido.</div>
          <div *ngIf="form.get('nombre').errors['minlength']">El nombre debe tener al menos 2 caracteres.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" formControlName="mail">
        <div *ngIf="form.get('mail').touched && form.get('mail').invalid" class="text-danger">
          <div *ngIf="form.get('mail').errors['required']">El correo electrónico es requerido.</div>
          <div *ngIf="form.get('mail').errors['email']">El correo electrónico no es válido.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="clave">Contraseña:</label>
        <input type="password" class="form-control" id="clave" placeholder="Ingrese su contraseña" formControlName="clave">
        <div *ngIf="form.get('clave').touched && form.get('clave').invalid" class="text-danger">
          <div *ngIf="form.get('clave').errors['required']">La contraseña es requerida.</div>
          <div *ngIf="form.get('clave').errors['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
    </form>
    <div *ngIf="mensajeError" class="alert alert-danger mt-3">{{ mensajeError }}</div>
  </div>
</div>
