<div class="home-container"> 
  <div>
    <div class="container">
      <div class="header">
        <h1>Bienvenido {{nombreUsuario}} <h3>Productos UTN</h3></h1>
        <button (click)="cerrarSesion()" class="btn btn-logout" style="margin-top: -1rem;">Cerrar sesión</button>
      </div>
      <div>
        <button routerLink="/homeAdmin" class="btn btn-primary">Home Admin</button>
      </div>
      <div>
        <button routerLink="/producto" class="btn btn-primary">Productos</button>
      </div>
      <div>
        <button routerLink="/producpais" class="btn btn-primary">Listado de Productos</button>
      </div>
      <div>
        <button routerLink="/homeContenedores" class="btn btn-primary">Home Container</button>
      </div>
      <div>
        <button routerLink="/pedidos" class="btn btn-primary">Pedidos</button>
      </div>
      <h1>Perfil de GitHub</h1>
      <div *ngIf="user" class="mt-4">
        <h2>{{ user.name }}</h2>
        <p>{{ user.bio }}</p>
        <img [src]="user.avatar_url" alt="GitHub Avatar" width="150">
        <p><a [href]="user.html_url" target="_blank">Ver perfil en GitHub</a></p>
      </div>
    </div>
  </div>
</div>
